= semantic_form_for @event do |form|
  -if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  = form.inputs do
    = form.input :name
    = form.input :description
    = form.input :user_id
    = form.input :event_date
    = form.submit 'Save'
