%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Description:
  = @event.description
%p
  %b User:
  = @event.user_id
%p
  %b Event date:
  = @event.event_date

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
